@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
*
{
    font-family: 'Sen', sans-serif;
}


/* -------header-------- */

nav
{
   z-index: 100;
   background-color: white;
   width: 100%;
}
ul li
{
    font-weight: bold;
}
ul li a .accueil
{
    color: #55B3A6;
}
ul li a span:hover
{
    color: #55B3A6;
}

/* ------ accueil------- */

.orange
{
    background-color: #F13B23;
    width: 250px;
    height: 250px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-left: 20px;
    position: relative;
    z-index: 2;
    margin-top: 80px;
}
.jaune
{
    background-color: #FFDC16;
    width: 250px;
    height: 250px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    margin-right: 20px;
    margin-top: -250px;
    position: relative;
    z-index: 1;
    float: right;
}
.vert
{
    background-color: #55B3A6;
    width: 220px;
    height: 280px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    margin-right: 20px;
    margin-top: -200px;
    position: relative;
    z-index: 3;
    margin-left: 24%;
    background-image: url(../img/IMG_3177_1_-removebg-preview\ 1\(1\).png);
    background-repeat: no-repeat;
    background-position: center;

}
.accueil p
{
    font-size: 24px;
    font-weight: bold;
}
.accueil .reseau ul li a 
{
    text-decoration: none;
    display: inline;
    font-size: 14px;
    color: black;
}
.accueil .reseau ul
{
    list-style-type: none;
    margin-left: -30px;
}
.buton-accueil
{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: #55B3A6;
    font-weight: bold;
}
.buton-accueil2
{
    background-color: #F13B23;
} 

/* ------------A propos------------- */

.titre-a-propos
{
    color: #55B3A6;
    font-weight: bold;
    font-size: 35px;
}
.text-a-propos
{
    font-size: 18px;
}
.cadre-text
{
    border-top: #55B3A6 solid 5px;
    width: 90%;
    position: center;
    margin-left: 5%;
}
.cadre
{
    border: solid #55B3A6 3px;
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.137);
}

/* -------formations -------- */

.titre-formations
{
    color: #55B3A6;
    font-weight: bold;
}
.carte-formation
{
    border: #55B3A6 solid 3px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    height: auto;
    padding-top: 10%;
    font-weight: bold;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.151);
}
.carte-diplome
{
    border: #55B3A6 solid 3px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    height: auto;
    padding-top: 1%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.151);
    font-weight: bold;
}

/* -------competences-------- */

.titre-competence
{
    color: #55B3A6;
    font-weight: bold;
}
.blog h2
{
    color: #55B3A6;
    border: 3px solid #55B3A6;
    border-right: 15px solid #55B3A6;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    width: 390px;
}

/* -------Contact-------- */

.titre-contact
{
    font-weight: bold;
    color: #55B3A6;
}
.titre-contact2
{
    border-bottom: 5px solid #55B3A6;
}
.form-input
{
    width: 90%;
    height: 40px;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 4%;
    border-radius: 10px;
    border: 2px solid #55B3A6;
    padding-left: 10px;
}
.form-msg
{
    height: 150px;
}
form
{
    background-color: #55B3A6;
    height: auto;
    border-radius: 10px;
}
.mes-contact
{
    color: #55B3A6;
}

.pied-de-page
{
    background-color: #55B3A6;
    height: 60px;
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-left: -3%;
}
.reseau ul li a 
{
    text-decoration: none;
    display: inline;
    font-size: 14px;
    color: black;
}
.reseau ul
{
    list-style-type: none;
    margin-left: -30px;
}