@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
*
{
    font-family: 'Sen', sans-serif;
}


/* -------formations -------- */

.titre-formations
{
    color: #55B3A6;
    font-weight: bold;
}
.carte-formation
{
    border: #55B3A6 solid 3px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    height: auto;
    padding-top: 10%;
    font-weight: bold;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.151);
}
.carte-diplome
{
    border: #55B3A6 solid 3px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    height: auto;
    padding-top: 1%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.151);
    font-weight: bold;
}

/* -------competences-------- */

.titre-competence
{
    color: #55B3A6;
    font-weight: bold;
}
.blog h2
{
    color: #55B3A6;
    border: 3px solid #55B3A6;
    border-right: 15px solid #55B3A6;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    width: 390px;
}

/* -------Contact-------- */

.titre-contact
{
    font-weight: bold;
    color: #55B3A6;
}
.titre-contact2
{
    border-bottom: 5px solid #55B3A6;
}
.form-input
{
    width: 90%;
    height: 40px;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 4%;
    border-radius: 10px;
    border: 2px solid #55B3A6;
    padding-left: 10px;
}
.form-msg
{
    height: 150px;
}
form
{
    background-color: #55B3A6;
    height: auto;
    border-radius: 10px;
}
.mes-contact
{
    color: #55B3A6;
}

.pied-de-page
{
    background-color: #55B3A6;
    height: 60px;
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-left: -3%;
}
.reseau ul li a 
{
    text-decoration: none;
    display: inline;
    font-size: 14px;
    color: black;
}
.reseau ul
{
    list-style-type: none;
    margin-left: -30px;
}